.banner-img-container {
    position: relative;
    width: 80%;
    height: 220px;
    margin-bottom: -30px;
    margin: 0 auto;
}

.redes img {
    height: 80px;
    width: 80px;
    position: relative;
    margin: 4%;
    position: center;
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-img-container {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-image: url('img/159Z_2107.w026.n002.628B.p1.628.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 30px;
    margin-left: 20px;
}

.job-date {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.job-date::before {
    content: '•';
    color: #000;
    font-size: 12px;
    margin-right: 10px;
}